.App {
  text-align: center;
}

.aParent {
  float: left;
  margin-right: 50px;
  clear: none;
}

.title {
  background-color: lightgreen;
}

.author {
  background-color: lightgreen;
}

nav {
  height: 50px;
  background-color: greenyellow;
}
.liste {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.items {
  margin-right: 10px;
  color: black;
  cursor: pointer;
}
